html, body{
    height: 100%;
}
.container{
}
#header{
    height: 300px;
    background-color: #ddd;
    text-align: center;
    padding-top: 100px;
}
#wrapper{
}
.layout-content{
    min-height: 300px;
    text-align: center;
}
.logo{
    width: 90%;
}
